/* global */
/* 
40F8FF #biru
F6F4EB #putih
9BE8D8 #biru muda
1A5D1A #hijau
 */
* {
  font-family: Tahoma;
}
.text-one-fish {
  color: #006699;
}

body {
  background: linear-gradient(#33cbe9, #249eae);
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
.bg-onefish-main {
  background: linear-gradient(#33cbe9, #249eae);
}
.nav-one-fish {
  transition: 0.6s;
  border-radius: 10px;
}

.nav-one-fish:hover {
  background-color: #006699;
  color: white;
}

.btn-blue__one-fish {
  border: 1px solid #006699;
  color: black;
}

.btn-blue__one-fish:hover {
  color: white;
  background-color: #006699;
}

.text-side-bar {
  color: #006699;
  text-decoration: none;
  font-size: 0.9rem;
  transition: 0.5;
}
.text-side-bar:hover {
  text-decoration: underline;
}

#whatsapp-widget {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  color: #fff;
  border-radius: 10px;
  display: flex;
  width: 300px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.whatsapp-icon {
  padding: 10px;
}

.whatsapp-icon img {
  width: 40px;
}

.whatsapp-content {
  flex: 1;
  padding: 10px;
}

.whatsapp-content p {
  margin: 0;
  font-weight: bold;
}

.whatsapp-content a {
  display: block;
  background-color: #128c7e;
  color: #fff;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
}

.whatsapp-content a:hover {
  background-color: #075e54;
}

.fs-one-fish {
  font-size: 0.9rem;
  font-weight: 400;
}

.image-section {
  width: 50%;
}

.bg-blue__one-fish {
  background-color: #006699;
  color: white;
}

.nav-one-fish:hover > a {
  color: white;
}

.text-red {
  color: #e82c2d;
}

.bg-one-fish {
  background-color: #40f8ff;
}

.fading-line {
  width: 100%;
  height: 2px; /* Sesuaikan tinggi garis */
  background: linear-gradient(to right, transparent, #000, transparent);
}

.logo-email {
  border-radius: 50%;
  width: 100px;
}

.box-footer {
  width: 200px;
  border-radius: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-footer > a {
  text-decoration: none;
  color: #428bca;
}

* {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}
img {
  width: 100%;
}

/* header */
.logo-one-fish {
  width: 250px;
  border-radius: 30px 0 30px 0;
  overflow: hidden;
}

/* navbar */

.container-navbar {
  width: 100%;
  justify-content: space-between;
  display: flex;
}

.search-translate {
  width: 80px;
  background-color: blue;
  height: auto;
  text-align: end;
  margin-left: auto;
}

.nav-con {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bx-nav {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
/* akhir header */

/* carousel */

.carousel-item > img {
  border: thin #c0c0c0 solid;
  height: auto;
}

.title-with-line {
  display: flex;
  align-items: center;
}

.line {
  flex-grow: 1;
  height: 2px;
  background-color: #006699;
}

.title {
  margin: 0 10px;
}

/* product section */
.garis {
  background-color: #006699;
  height: 2px;
  width: 100%;
}

/* product home section */

.card-product__onefish {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.card-product__onefish > a {
  border-radius: 50%;
  border: thin #c0c0c0 solid;
  padding: 3px;
  transition: 0.4s;
}

.card-product__onefish > a:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-product__onefish img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

/* Company */
.image-card__company {
  width: 50%;
}

.text-card__company {
  font-size: 0.9rem;
  color: black;
}

.link__company {
  color: black;
  text-decoration: none;
}

.background-company {
  height: 80vh;
  background-position: bottom;
  background-size: cover;
  background-image: url("../public/home-image/BG\ Home\ Company.png");
  display: flex;
  align-items: center;
  flex-direction: column;
}

.image-brand {
  width: 250px;
  height: 250px;
}

.w-email {
  width: 250px;
}
.social-media {
  color: black;
  font-size: 0.9rem;
  text-decoration: none;
}
.social-media:hover {
  text-decoration: underline;
}

.whatsapp-float {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000; /* Untuk memastikan tombol melayang di atas konten lain */
}

.whatsapp-float a {
  display: block;
  background-color: #25d366; /* Warna latar belakang WhatsApp */
  color: #fff; /* Warna teks */
  font-size: 16px;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 50%;
  transition: background-color 0.3s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.whatsapp-float a:hover {
  background-color: #128c7e; /* Warna latar belakang saat hover */
}

/* Style untuk gambar ikon WhatsApp */
.whatsapp-float img {
  width: 40px;
  height: 40px;
  vertical-align: middle;
}

.w-sosial-media {
  width: 30px;
  height: 30px;
}
/* about us */
.image-about__misi {
  height: 300px;
  overflow: hidden;
}

/* contact-us */
.contact-us__text {
  line-height: 1rem;
}

.contact-us__contact {
  display: flex;
  flex-wrap: wrap;
}

/* text one fish footer */
.text-one-fish__footer {
  font-size: 0.9rem;
}

.text-one-fish__footer > p {
  line-height: 12px;
  margin-bottom: 0.5rem;
}

/* news */
.link-title__news > a {
  text-decoration: none;
}

.date-news {
  margin: 0;
}

/* pelet pakan kering */
.card__pakan-kering {
  color: black;
  text-decoration: none;
}

.butiran-pelet-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.butiran-pelet {
  display: flex;
}

.border-onefish {
  border: 1px solid #006699;
}
