/* global */
/* 
40F8FF #biru
F6F4EB #putih
9BE8D8 #biru muda
1A5D1A #hijau
 */
* {
  font-family: Tahoma;
}

.text-one-fish {
  color: #006699;
}

.nav-one-fish {
  transition: 0.6s;
  border-radius: 10px;
}

.nav-one-fish:hover {
  background-color: #006699;
  color: white;
}

.btn-blue__one-fish {
  border: 1px solid #006699;
  color: black;
}

.btn-blue__one-fish:hover {
  color: white;
  background-color: #006699;
}

.bg-blue__one-fish {
  background-color: #006699;
  color: white;
}

.nav-one-fish:hover > a {
  color: white;
}

.bg-image__one-fish-top {
  background-image: url("../public/background-web/background-atas.png");
  background-repeat: no-repeat;
}

.bg-image__one-fish-bottom::before {
  content: "";
  position: absolute;
  background-image: url("../public/background-web/background-bawah.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.text-red {
  color: #e82c2d;
}

.bg-one-fish {
  background-color: #40f8ff;
}

.fading-line {
  width: 100%;
  height: 2px; /* Sesuaikan tinggi garis */
  background: linear-gradient(to right, transparent, #000, transparent);
}

.logo-email {
  border-radius: 50%;
  width: 100px;
}

.box-footer {
  width: 200px;
  border: 1px solid black;
  border-radius: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-footer > a {
  text-decoration: none;
  color: #428bca;
}

* {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}
img {
  width: 100%;
}

/* header */
.logo-one-fish {
  width: 50px;
}

/* navbar */

.container-navbar {
  width: 100%;
  justify-content: space-between;
  display: flex;
}

.search-translate {
  width: 80px;
  background-color: blue;
  height: auto;
  text-align: end;
  margin-left: auto;
}

.nav-con {
  display: flex;
  flex-direction: column;
}

/* akhir header */

/* carousel */

.carousel-item > img {
  border: thin #c0c0c0 solid;
  height: auto;
}

.title-with-line {
  display: flex;
  align-items: center;
}

.line {
  flex-grow: 1;
  height: 2px;
  background-color: #006699;
}

.title {
  margin: 0 10px;
}

/* product section */
.garis {
  background-color: #006699;
  height: 2px;
  width: 100%;
}

/* product home section */

.card-product__onefish {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.card-product__onefish > a {
  border-radius: 50%;
  border: thin #c0c0c0 solid;
  padding: 3px;
  transition: 0.4s;
}

.card-product__onefish > a:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-product__onefish img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

/* Company */
.image-card__company {
  width: 50%;
}

.text-card__company {
  font-size: 0.9rem;
  color: black;
}

.link__company {
  color: black;
  text-decoration: none;
}

.background-company {
  height: 70vh;
  background-position: bottom;
  background-size: cover;
  background-image: url("../public/home-image/BG\ Home\ Company.png");
  display: flex;
  align-items: center;
  flex-direction: column;
}

.image-brand {
  width: 100px;
  height: 100px;
}

/* about us */
.image-about__misi {
  height: 300px;
  overflow: hidden;
}

/* contact-us */
.contact-us__text {
  line-height: 1rem;
}

.contact-us__contact {
  display: flex;
  flex-wrap: wrap;
}

/* text one fish footer */
.text-one-fish__footer {
  font-size: 0.9rem;
}

.text-one-fish__footer > p {
  line-height: 12px;
  margin-bottom: 0.5rem;
}

/* news */
.link-title__news > a {
  text-decoration: none;
}

.date-news {
  margin: 0;
}

/* pelet pakan kering */
.card__pakan-kering {
  color: black;
  text-decoration: none;
}

.butiran-pelet-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.butiran-pelet {
  display: flex;
}

.border-onefish {
  border: 1px solid #006699;
}
